.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px 48px 24px;;
  max-width: 1184px;
}

@media (max-width: 900px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media (max-width: 650px) {
  .footer {
    margin: 64px 16px 24px;
  }
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 48px;

  }
}

