.cover__item {
  color: #fff;
  background-image: url(../../../images/cover__background.png);
  background-size: cover;
  max-height: 740px;
  aspect-ratio: 8/5;
  margin: 92px auto 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}


.cover__item::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: 1;
}

.cover__item:hover::before {
  opacity: .8;
}




